site_name: LOOM-Train
site_url: https://iigray.github.io/LOOM-Train/
repo_url: https://github.com/iiGray/LOOM-Train
theme:
  name: material


  features:
    - navigation.tabs   
    - navigation.tabs.sticky
    - navigation.sections   
    - navigation.top       
    - navigation.tracking   
    - search.suggest  
    - search.highlight    
    - content.code.copy

  palette:
      - media: "(prefers-color-scheme: light)"
        scheme: default
        primary: black
        accent: black
        toggle:
          icon: material/brightness-7
          name: To dark

      - media: "(prefers-color-scheme: dark)"
        scheme: slate  
        primary: black
        accent: cyan
        toggle:
          icon: material/brightness-4
          name: To light



plugins:
  - search
  - i18n:
      default_language: zh
      languages:
        - locale: en
          name: English
          default: false  
          build: true 
          nav_translations:
            Getting_Started: Getting Started 
            Installation: Installation

        - locale: zh
          name: 中文
          default: true  
          build: true 
          nav_translations:
            Getting_Started: 快速开始
            Installation: 安装


nav:
  - Getting_Started: index.md
  - Installation: Installation/page1.md
  