site_name: LOOM-Train
site_url: https://iigray.github.io/LOOM-Train/
repo_url: 
theme:
  name: material


  features:
    - navigation.tabs   
    - navigation.sections   
    - navigation.top       
    - navigation.tracking   
    - search.suggest  
    - search.highlight    
    - content.code.copy

  palette:
      - media: "(prefers-color-scheme: light)"
        scheme: default
        primary: indigo 
        accent: indigo
        toggle:
          icon: material/brightness-7
          name: To dark

      - media: "(prefers-color-scheme: dark)"
        scheme: slate  
        primary: black
        accent: cyan
        toggle:
          icon: material/brightness-4
          name: To light


plugins:
  - search
  - i18n:
      default_language: zh
      languages:
        zh: 
          name: 中文
          build: true
        en: 
          name: English
          build: true
          
      nav_translations:
        en:
          Home: Home
        zh:
          Home: 首页