site_name: LOOM-Train
site_url: https://iigray.github.io/LOOM-Train/
repo_url: https://iigray.github.io/LOOM-Train/
theme:
  name: cinder
  features:
    - navigation.tabs   
    - navigation.sections   
    - navigation.top       
    - navigation.tracking   
    - search.suggest  
    - search.highlight    
    - content.code.copy
    - navigation.tabs.sticky

  palette:
      - media: "(prefers-color-scheme: light)"
        scheme: default
        primary: black
        accent: black
        toggle:
          icon: material/brightness-7
          name: To dark

      - media: "(prefers-color-scheme: dark)"
        scheme: slate  
        primary: black
        accent: cyan
        toggle:
          icon: material/brightness-4
          name: To light
